body{
    background-color: #f0f8ff;
    text-align: center;
    font-family: Arial;
}

h1{
    color: darkblue;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
}